name: PHP 8.4 Bookworm

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  php-and-extensions:
    uses: ./.github/workflows/php-and-extension.yaml
    with:
      php-version: 8.4
      php-variant: bookworm

  rerun-on-failure:
    needs: [php-and-extensions]
    runs-on: ubuntu-24.04
    if: failure() && github.run_attempt == 1 && false
    permissions:
      actions: write
    steps:
      - name: Rerun on failure
        env:
          GH_TOKEN: ${{ github.token }}
          GITHUB_REPOSITORY: ${{ github.repository }}
          GITHUB_REF: ${{ github.ref }}
          GITHUB_RUN_ID: ${{ github.run_id }}
        run: |
          set -euo pipefail

          gh api \
            --method POST \
            -H "Accept: application/vnd.github+json" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            /repos/${GITHUB_REPOSITORY}/actions/workflows/rerun-workflow.yaml/dispatches \
            -f "ref=${GITHUB_REF}" -f "inputs[run_id]=${GITHUB_RUN_ID}"
