name: All PHP Extensions for a Variant

permissions:
  contents: read
  packages: write

on:
  workflow_call:
    inputs:
      php-version:
        type: string
        description: The PHP version
        required: true
      php-variant:
        type: string
        description: The PHP variant
        required: true
      extensions:
        type: string
        description: Extensions as json array
        required: true
      extensions-to-build:
        type: string
        description: Extensions to build as json array
        required: true
      extension-build-hashes:
        type: string
        description: Extension build hashes as json object
        required: true
      base-tag-name:
        type: string
        description: Base tag name
        required: true

jobs:
  build-extensions:
    strategy:
      matrix:
        extension: ${{ fromJSON(inputs.extensions) }}
      fail-fast: false
      max-parallel: ${{ fromJSON(vars.MAX_PARALLEL) }}
    uses: ./.github/workflows/php-extension.yaml
    with:
      php-version: ${{ inputs.php-version }}
      php-variant: ${{ inputs.php-variant }}
      extension: ${{ matrix.extension }} 
      base-tag-name: ${{ inputs.base-tag-name }} 
      build: ${{ contains(fromJSON(inputs.extensions-to-build), matrix.extension) && '1' || '0' }}
      build-hash: ${{ fromJSON(inputs.extension-build-hashes)[matrix.extension] }}